<div class="home-container d-flex flex-column align-items-center justify-content-center text-center">
    <h1 class="mb-4">Архив погоды в Москве</h1>
    <p class="mb-5">
      Добро пожаловать! Вы можете просмотреть архивные данные или загрузить новые.
    </p>
  
    <div class="d-flex gap-4">
      <a
        routerLink="/view"
        class="btn btn-primary btn-lg"
      >
        Просмотр архивов
      </a>
      <a
        routerLink="/upload"
        class="btn btn-outline-primary btn-lg"
      >
        Загрузка архивов
      </a>
    </div>
  </div>
  