// .preloader-wrapper {
// 	position: relative;
// 	background-size: cover;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     overflow: hidden;
//     z-index: 1056;
//   }
  
// .loader {
// 	position: fixed;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 1056;
//   	background-color: #0000005e;
// }

// /** Global preloader styles **/
// .pl, .pl:before, .pl:after {
// 	animation-duration: 2s;
// 	animation-timing-function: linear;
// 	animation-iteration-count: infinite;
// }
// .pl {
// 	margin: 1.5em auto 1.5em auto;
// 	position: relative;
// 	width: 7em;
// 	height: 7em;
// }
// .pl:before, .pl:after {
// 	background: #EBF165;
// 	content: "";
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 50%;
// 	transform-origin: 50% 100%;	
// 	clip-path: polygon(0 0,100% 0,50% 100%);
// 	-webkit-clip-path: polygon(0 0,100% 0,50% 100%);
// }
 
// /* Origami */
// .pl-origami {
// 	animation-name: origamiA;
// 	animation-timing-function: steps(4);
// }
// .pl-origami:before, .pl-origami:after {
// 	clip-path: polygon(50% 0,100% 100%,0% 100%);
// 	-webkit-clip-path: polygon(50% 0,100% 100%,0% 100%);
// }
// .pl-origami:before {
// 	animation-name: origamiB;
// }
// .pl-origami:after {
// 	animation-name: origamiC;
// 	transform: rotate(180deg);
// }
// @keyframes origamiA {
// 	from { transform: rotate(0) }
// 	to { transform: rotate(-360deg) }
// }
// @keyframes origamiB {
// 	from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateX(0deg) }
// 	12.5%, 62.5% { opacity: 1; transform: translateZ(1px) rotateX(-180deg) }
// 	37.5%, 87.5% { opacity: 0; transform: translateZ(0) rotateX(0deg) }
// }
// @keyframes origamiC {
// 	from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
// 	12.5%, 62.5% { opacity: 0; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
// 	37.5%, 87.5% { opacity: 1; transform: translateZ(1px) rotateZ(180deg) rotateX(-180deg) }
// }

.preloader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  
	.preloader {
	  display: flex;
	  justify-content: center;
	  align-items: center;
  
	  .spinner {
		width: 40px;
		height: 40px;
		position: relative;
  
		.double-bounce1,
		.double-bounce2 {
		  width: 100%;
		  height: 100%;
		  border-radius: 50%;
		  background-color: #3f51b5; // Indigo color
		  opacity: 0.6;
		  position: absolute;
		  top: 0;
		  left: 0;
		  animation: sk-bounce 2s infinite ease-in-out;
		}
  
		.double-bounce2 {
		  animation-delay: -1s;
		}
	  }
	}
  }
  
  @keyframes sk-bounce {
	0%, 100% {
	  transform: scale(0);
	}
	50% {
	  transform: scale(1);
	}
  }
  