<header class="main-header">
    <div class="logo">WEATHER MOSCOW</div>
    <nav class="nav">
      <a
        class="nav-link"
        routerLink="/home"
        routerLinkActive="active"
        >{{ 'Дашборд' }}</a
      >
      <a class="nav-link" routerLink="/view-archives" routerLinkActive="active"
        >{{ 'Просмотр архивов' }}</a
      >
      <a class="nav-link" routerLink="/upload-archives" routerLinkActive="active"
        > {{ 'Загрузка архивов' }}</a
      >
    </nav>
  </header>
  